<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
    <!-- Website Title -->
    <div class="container">
      <h2 class='container-heading'><span class="heading_font">Breast cancer prediction</span></h2>
      <div class='description'>
    <p>A Machine Learning Web App, Built with Flask.</p>
  </div>
</div>

 <div class="login">

  {{ prediction_text }}
	     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">  
     <div class="col">         
    	<input type="text" name="radius_mean" placeholder="radius_mean" required="required" />
      <input type="text" name="texture_mean" placeholder="texture_mean" required="required" />
		  <input type="text" name="perimeter_mean" placeholder="perimeter_mean" required="required" />
      <input type="text" name="area_mean" placeholder="area_mean" required="required" />
      <input type="text" name="smoothness_mean	" placeholder="smoothness_mean	" required="required" />

		  <input type="text" name="compactness_mean" placeholder="compactness_mean" required="required" />
      <input type="text" name="concavity_mean" placeholder="concavity_mean" required="required" />
      <input type="text" name="concave points_mean" placeholder="concave points_mean" required="required" />
		  <input type="text" name="symmetry_mean" placeholder="symmetry_mean" required="required" />
      <input type="text" name="fractal_dimension_mean" placeholder="fractal_dimension_mean" required="required" />

      <input type="text" name="radius_se" placeholder="radius_se" required="required" />
		  <input type="text" name="texture_se" placeholder="texture_se" required="required" />
      <input type="text" name="perimeter_se" placeholder="perimeter_se" required="required" />
      <input type="text" name="area_se" placeholder="area_se" required="required" />
		  <input type="text" name="smoothness_se" placeholder="smoothness_se" required="required" />
  </div>
  <div class="col">
         <input type="text" name="compactness_se" placeholder="compactness_se" required="required" />
      <input type="text" name="concavity_se" placeholder="concavity_se" required="required" />
		  <input type="text" name="concave points_se" placeholder="concave points_se" required="required" />
      <input type="text" name="symmetry_se" placeholder="symmetry_se" required="required" />
      <input type="text" name="fractal_dimension_se" placeholder="fractal_dimension_se" required="required" />

		  <input type="text" name="radius_worst" placeholder="radius_worste" required="required" />
      <input type="text" name="texture_worst" placeholder="texture_worst" required="required" />
      <input type="text" name="perimeter_worst" placeholder="perimeter_worst" required="required" />
		  <input type="text" name="area_worst" placeholder="area_worst" required="required" />
      <input type="text" name="smoothness_worst" placeholder="smoothness_worst" required="required" />

      <input type="text" name="compactness_worst" placeholder="compactness_worst" required="required" />
		  <input type="text" name="concavity_worst" placeholder="concavity_worst" required="required" />
      <input type="text" name="concave points_worst" placeholder="concave points_worst" required="required" />
      <input type="text" name="symmetry_worst" placeholder="symmetry_worst" required="required" />
		  <input type="text" name="fractal_dimension_worst" placeholder="fractal_dimension_worst" required="required" />
    </div>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>

    </form>
 </div>


</body>
</html>
